h1 {
  text-align: center;
}
body{
  background-color: lightblue;
  font-size: 20px;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.hover {
  cursor: pointer;
}
.hover:hover {
  opacity: 0.2;
}
.empty{
  background-color: white;
}
.container{
  margin: 0 auto;
  width: 50%;
}
.messages{
  width: 554px;
  height: 150px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  overflow-y: scroll;
}
.messageInput{
  width: 574px;
  height: 50px;
}
